div{
	margin: 0;
	padding: 0;
}
.wapper{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-bottom: -100px;
}
.circle{
	width: 100px;
	height: 100px;
	border: 8px solid black;
	border-radius: 50%;
}
.yellow{
	position: absolute;
	margin-left: 70px;
	margin-top: -116px;
	border-color: yellow;
}
.black{
	position: absolute;
	margin-left: 140px;
	margin-top: -116px;
	border-color: black;
}
.green{
	position: absolute;
	margin-top: -50px;
	margin-left: 40px;
	border-color: green;
}
.red{
	position: absolute;
	margin-top: -50px;
	margin-left: 100px;
	border-color: red;
}
.blue{
	position: relative;
	border-color: blue;
}