*{
    margin: 0;
    padding:0;
}
.right{
    position: absolute;
    height: 100px;
    right: 0;
    width: 100px;
    background-color: #fcc;
    right: 0;
}

.left{
    height: 100px;
    background-color: black;
    margin-right: 100px;
}